name: dtx_hum
description: DTX Pro Ibn Muhammad
publish_to: 'none'
version: 1.0.0+1
environment:
  sdk: '>=3.0.0 <4.0.0'
dependencies:
  flutter:
    sdk: flutter
  webview_flutter: ^4.4.2
flutter:
  uses-material-design: true
  assets:
    - assets/index.html
    - assets/audio/
    - assets/Dtx/
    - assets/Simpatik/
